$console-bg: #000000;
$text-color: #00FF00;
$font-size: 13px;

body {
  background: $console-bg;
  color: $text-color;
  font-family: monospace;
  font-size: $font-size;
}

#console {
}

#progress {
  position: fixed;;
  bottom: 10px;
  right: 30px;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: $text-color;
  font-family: monospace;
  font-size: $font-size;
  width: 90%;
}
